# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore Docker local files
*.log
*.local

# Ignore node_modules (for Node.js projects)
data/
test/

# Ignore OS/system files
.DS_Store
Thumbs.db
